[submodule "FinViz"]
	path = FinViz
	url = https://github.com/jerdub1993/FinViz
[submodule "CmdletDocumentation"]
	path = CmdletDocumentation
	url = https://github.com/jerdub1993/CmdletDocumentation
[submodule "KaliPrompt"]
	path = KaliPrompt
	url = https://github.com/jerdub1993/KaliPrompt
